<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Resultados de la Búsqueda</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <h1>Resultados de la Búsqueda</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Género</th>
                <th>Año de Nacimiento</th>
                <th>Altura</th>
                <th>Peso</th>
            </tr>
        </thead>
        <tbody>
            <% personajes.forEach(personaje=> { %>
                <tr>
                    <td>
                        <%= personaje.name %>
                    </td>
                    <td>
                        <%= personaje.gender %>
                    </td>
                    <td>
                        <%= personaje.birth_year %>
                    </td>
                    <td>
                        <%= personaje.height %>
                    </td>
                    <td>
                        <%= personaje.mass %>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</body>

</html>